textarea {
    min-height: 400px;
}

.email-ts {
    color: gray;
    float: right;
}

#email_viewer, #show_email {
    border-style: groove;
    padding: 10px;
    margin: 5px;
    align-items: center;
    
}

.view_labels{
    font-weight: bold;
}

.archive{

}
